/**
* Daily Todo CSS file
*/
/* 
    Created on : Aug 19, 2014, 1:00:45 PM
    Author     : dmullin
*/

body {
    font-family: 'Segoe UI', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

th, h3, .label {
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-weight: normal;
}

.hidden {
    display: none;
}

input:focus, textarea:focus {
    outline: rgba(239, 43, 45, .5) auto 5px;
}

#shade {
    position: fixed;
    /* background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,rgba(100,101,105,1) 100%); */
    background: rgba(100,101,105,0.7);
    width: 100%;
    height: 100%;
    z-index: 1;

}

/* AJAX Spinners */
.ajax {
    position: fixed;
    background: white;
    border: 1px solid #ccc;
    height: 6em;
    width: 20em;
    margin-top: -3em;
    margin-left: -10em;
    z-index: 15;
    top: 50%;
    left: 50%;
}

.ajax h3 {
    text-align: center;
}

.ajax img {
    display: block;
    margin: 0 auto;
    width: 16px;
}


table#master {
    font-size: 12px;
    border-collapse: collapse;
}

th {
    font-size: 1.2em;
    padding: 0.3em;
}

th.colHeader:hover {
    cursor: pointer;
}

tr.task /*td*/:hover {
    cursor: pointer;
    outline: rgba(239, 43, 45, .5) auto 5px;
}

.tr_even td {
    /* background-color: #cef; */
}

td {
    padding: 0.2em 0.5em;
}

td span:hover {
    cursor: default;
}

td span.outside {
    color: rgba(100,101,105, .8);
}

tr.newGroup, tr.newGroup td {
    /* height: 3em;
    vertical-align: bottom; */
    border-top: 1px solid rgb(239, 43, 45);
    margin-top: 3px;
    padding-top: 10px;
}

/* Status */
.status_soon {
    color: rgb(255,158, 49);
    font-weight: bold;
}

.status_late {
    color: rgb(239, 43, 45);
    font-weight: bold;
}

/* Popups */
.popup {
    position: fixed;
    z-index: 10;
    background-color: white;
    top: 50%;
    left: 50%;
    border: 1px solid rgba(239, 43, 45, .75);
    box-shadow: 1px 1px #666;
    padding: 0.2em;
}

.popup_header {
    margin: 0.3em;
    font-size: 1em;
}

.popup_body {
    display: block;
    position: relative;
    padding: 0.3em;
    border-top: 1px solid rgba(239, 43, 45, .2);
}

.popup_close {
    display: inline-block;
    position: absolute;
    right: 0.3em;
    top: 0.3em;
    font-weight: bold;
}

.popup_close:hover {
    cursor: pointer;
}

.popup .field {
    position: absolute;
    display: inline-block;    
}

.popup .subfield {
    font-size: .7em;
    z-index: 2;
}

/* Detail view */

#detail {
    height: 10em;
    width: 40em;
    margin-top: -5em;
    margin-left: -20em;
}

#priority {
    text-align: right;
}

#detail_date {
    top: 0.3em;
    left: 0.3em;
}

#detail_priority {
    top: 0.3em;
    left: 12em;
}

#detail_status {
    top: 0.3em;
    left: 22em;
}

#detail_notes {
    top: 2em;
}

#detail_notes p {
    margin: 0;
}

/* Add Task */
#addtask {
    height: 21em;
    width: 40em;
    margin-top: -11.5em;
    margin-left: -20em;
}

#addtask_message {
    height: 5em;
    overflow: hidden;
}

#addtask_message p {
    margin: 0.2em;
}

#addtask_message ul {
    margin: 0.2em;
    font-size: .8em;
}

.error {
    color: rgb(239, 43, 45);
}

#addtask_grid {
    border-collapse: collapse;
    padding: 0 1.0em 0 0;
}

#addtask_notes td {
    padding-top: 0.4em;
}

.addtask_label {
    text-align: right;
    font-size: 80%;
}

#addtask_buttons {
    text-align: center;
}

#newtask_submit {
    margin-right: 1em;
}

#newtask_name {
    width: 99%;
}

#newtask_docket {
    width: 4em;
}


/* Counts */
#counts {
    position: fixed;
    right: 0;
    top: 0;
    width: 15em;
    border: 1px solid black;
}


table#tcounts {
    border-collapse: collapse;
}

td.counts_value {
    text-align: right;
}

tr#totalCountRow td {
    border-top: 1px solid #ccc;
}

tr#buttonsRow td {
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 1em;
}

tr#timeRow td {
    font-size: 0.7em;
    border-top: 1px solid #ccc;
}

tr#timeRow p {
    margin-top: 0;
}

/* DEBUG */
#debug {
    background-color: black;
    font-family: monospace;
    color: #ccc;
    width: 100%;
    border: outset #ccc;
}

/**
 * Chunky 3D Web Buttons
 *
 * Inspiration was taken from:
 * - http://www.premiumpixels.com/freebies/chunky-3d-webbuttons-psd/
 */
 
/**
 * Shadow
 */
a.button::before {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-box-shadow: #959595 0 2px 5px;
    -moz-box-shadow: #959595 0 2px 5px;
    border-radius: 3px;
    box-shadow: #959595 0 2px 5px;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    padding: 2px 0 0;
    position: absolute;
    top: 0;
    width: 100%; }
    
a.button:active::before { padding: 1px 0 0; }

/**
 * Grey
 */
a.button {
    -moz-box-shadow: inset 0 0 0 1px #63ad0d;
    -webkit-box-shadow: inset 0 0 0 1px #63ad0d;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #eee;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#eee), to(#e2e2e2));
    background: -moz-linear-gradient(#eee, #e2e2e2);
    background: linear-gradient(#eee, #e2e2e2);
    border: solid 1px #d0d0d0;
    border-bottom: solid 3px #b2b1b1;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px #f5f5f5;
    color: #555;
    display: inline-block;
    /* font: bold 12px Arial, Helvetica, Clean, sans-serif; */
    /* margin: 0 25px 25px 0; */
    padding: 0.3em 0.5em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fafafa; }
    
a.button:hover {
    background: #e4e4e4;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#e4e4e4), to(#ededed));
    background: -moz-linear-gradient(#e4e4e4, #ededed);
    background: linear-gradient(#e4e4e4, #ededed);
    border: solid 1px #c2c2c2;
    border-bottom: solid 3px #b2b1b1;
    box-shadow: inset 0 0 0 1px #efefef; }
    
a.button:active {
    background: #dfdfdf;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#dfdfdf), to(#e3e3e3));
    background: -moz-linear-gradient(#dfdfdf, #e3e3e3);
    background: linear-gradient(#dfdfdf, #e3e3e3);
    border: solid 1px #959595;
    box-shadow: inset 0 10px 15px 0 #c4c4c4;
    top:2px;}
